<div id="dashboard-project" class="page-layout simple right-sidebar" fxLayout="row">

  <!-- CENTER -->
  <div class="center" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header accent p-24 pb-0" fxLayout="column" fxLayoutAlign="space-between">

      <div fxLayout="row" fxLayoutAlign="space-between start">

        <span class="mat-display-1 my-0 my-sm-24 welcome-message" [@animate]="{value:'*',params:{x:'50px'}}">Welcome
          back, Charlie!
        </span>

        <button mat-icon-button class="sidebar-toggle mr-8" fxHide.gt-md
          (click)="toggleSidebar('project-dashboard-right-sidebar-1')">
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <!-- <div fxLayout="row">

        <div class="selected-project">{{selectedProject.name}}</div>

        <button mat-icon-button class="project-selector" [matMenuTriggerFor]="projectsMenu" aria-label="Select project">
          <mat-icon>more_horiz</mat-icon>
        </button>

        <mat-menu #projectsMenu="matMenu">
          <button mat-menu-item *ngFor="let project of projects" (click)="selectedProject = project">
            <span>{{project.name}}</span>
          </button>
        </mat-menu>
      </div> -->
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

      <mat-tab-group dynamicHeight>

        <mat-tab label="Home">

          <div class="widget-group p-12" fxLayout="row wrap" fxFlex="100" *fuseIfOnDom [@animateStagger]="{value:'50'}">

            <!-- WIDGET 1 -->
            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100"
              fxFlex.gt-xs="50" fxFlex.gt-md="25">

              <!-- Front -->
              <div class="fuse-widget-front">
                <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                  <mat-form-field>
                    <mat-select class="simplified font-size-16" [(ngModel)]="widgets.dueTask.currentRange"
                      aria-label="Change range">
                      <mat-option *ngFor="let range of widgets.dueTask.ranges | keys" [value]="range.key">
                        {{range.value}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <button mat-icon-button fuseWidgetToggle aria-label="more">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                </div>

                <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                  <div class="light-blue-fg font-size-72 line-height-72">
                    {{widgets.dueTask.data.count[widgets.dueTask.currentRange]}}
                  </div>
                  <div class="h3 secondary-text font-weight-500">{{widgets.dueTask.data.label}}
                  </div>g
                </div>

                <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
                  <span class="h4 secondary-text text-truncate">
                    {{widgets.dueTask.data.extra.label}}:
                  </span>
                  <span class="h4 ml-8">
                    {{widgets.dueTask.data.extra.count[widgets.dueTask.currentRange]}}
                  </span>
                </div>
              </div>
              <!-- / Front -->

              <!-- Back -->
              <div class="fuse-widget-back p-16 pt-32">
                <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="Flip widget">
                  <mat-icon class="s-16">close</mat-icon>
                </button>

                <div>
                  {{widgets.dueTask.detail}}
                </div>
              </div>
              <!-- / Back -->

            </fuse-widget>
            <!-- / WIDGET 1 -->

            <!-- WIDGET 2 -->
            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100"
              fxFlex.gt-xs="50" fxFlex.gt-md="25">

              <!-- Front -->
              <div class="fuse-widget-front">
                <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                  <div class="h3">{{widgets.overdueTask.title}}</div>

                  <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="more">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                </div>

                <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                  <div class="red-fg font-size-72 line-height-72">
                    {{widgets.overdueTask.data.count}}
                  </div>
                  <div class="h3 secondary-text font-weight-500">{{widgets.overdueTask.data.label}}
                  </div>
                </div>

                <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
                  <span class="h4 secondary-text text-truncate">
                    {{widgets.overdueTask.data.extra.label}}:
                  </span>
                  <span class="h4 ml-8">{{widgets.overdueTask.data.extra.count}}</span>
                </div>
              </div>
              <!-- / Front -->

              <!-- Back -->
              <div class="fuse-widget-back p-16 pt-32">
                <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="Flip widget">
                  <mat-icon class="s-16">close</mat-icon>
                </button>

                <div>
                  {{widgets.overdueTask.detail}}
                </div>
              </div>
              <!-- / Back -->

            </fuse-widget>
            <!-- / WIDGET 2 -->

            <!-- WIDGET 3 -->
            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100"
              fxFlex.gt-xs="50" fxFlex.gt-md="25">

              <!-- Front -->
              <div class="fuse-widget-front">
                <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                  <div class="h3">{{widgets.openIssue.title}}</div>

                  <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="more">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                </div>

                <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                  <div class="orange-fg font-size-72 line-height-72">
                    {{widgets.openIssue.data.count}}
                  </div>
                  <div class="h3 secondary-text font-weight-500">{{widgets.openIssue.data.label}}
                  </div>
                </div>

                <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
                  <span class="h4 secondary-text text-truncate">
                    {{widgets.openIssue.data.extra.label}}:
                  </span>
                  <span class="h4 ml-8">{{widgets.openIssue.data.extra.count}}</span>
                </div>
              </div>
              <!-- / Front -->

              <!-- Back -->
              <div class="fuse-widget-back p-16 pt-32">
                <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="Flip widget">
                  <mat-icon class="s-16">close</mat-icon>
                </button>

                <div>
                  {{widgets.openIssue.detail}}
                </div>
              </div>
              <!-- / Back -->

            </fuse-widget>
            <!-- / WIDGET 3 -->

            <!-- WIDGET 4 -->
            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100"
              fxFlex.gt-xs="50" fxFlex.gt-md="25">

              <!-- Front -->
              <div class="fuse-widget-front">
                <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                  <div class="h3">{{widgets.feature.title}}</div>

                  <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="more">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                </div>

                <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                  <div class="blue-grey-fg font-size-72 line-height-72">
                    {{widgets.feature.data.count}}
                  </div>
                  <div class="h3 secondary-text font-weight-500">{{widgets.feature.data.label}}
                  </div>
                </div>

                <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
                  <span class="h4 secondary-text text-truncate">
                    {{widgets.feature.data.extra.label}}:
                  </span>
                  <span class="h4 ml-8">{{widgets.feature.data.extra.count}}</span>
                </div>
              </div>
              <!-- / Front -->

              <!-- Back -->
              <div class="fuse-widget-back p-16 pt-32">
                <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="Flip widget">
                  <mat-icon class="s-16">close</mat-icon>
                </button>

                <div>
                  {{widgets.feature.detail}}
                </div>
              </div>
              <!-- / Back -->

            </fuse-widget>
            <!-- / WIDGET 4 -->

            <!-- WIDGET 5 -->
            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" fxLayout="row" fxFlex="100" class="widget projectIssue">

              <!-- Front -->
              <div class="fuse-widget-front">

                <div class="px-16 border-bottom" fxLayout="row wrap" fxLayoutAlign="space-between center">

                  <div fxFlex class="py-16 h3">{{widgets.projectIssue.title}}</div>

                  <div fxFlex="0 1 auto" class="py-16" fxLayout="row">
                    <button mat-button class="px-16" *ngFor="let range of widgets.projectIssue.ranges | keys"
                      (click)="projectIssue.currentRange = range.key"
                      [ngClass]="{'accent' : projectIssue.currentRange == range.key}">
                      {{range.value}}
                    </button>
                  </div>
                </div>

                <div fxLayout="row wrap" fxLayoutAlign="start start">

                  <div class="h-420 my-16" fxLayout="row" fxFlex="100" fxFlex.gt-sm="50">
                    <ngx-charts-bar-vertical-stacked *fuseIfOnDom [scheme]="projectIssue.scheme"
                      [results]="this.widgets.projectIssue.mainChart[this.projectIssue.currentRange]"
                      [gradient]="projectIssue.gradient" [xAxis]="projectIssue.xAxis" [yAxis]="projectIssue.yAxis"
                      [legend]="projectIssue.legend" [showXAxisLabel]="projectIssue.showXAxisLabel"
                      [showYAxisLabel]="projectIssue.showYAxisLabel" [xAxisLabel]="projectIssue.xAxisLabel"
                      [yAxisLabel]="projectIssue.yAxisLabel" (select)="projectIssue.onSelect($event)">
                    </ngx-charts-bar-vertical-stacked>
                  </div>

                  <div class="my-16" fxFlex="100" fxLayout="row wrap" fxFlex.gt-sm="50">

                    <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxLayoutAlign="center"
                      *ngFor="let widget of widgets.projectIssue.supporting | keys" class="mb-24">

                      <div class="px-24">
                        <div class="h4 secondary-text">{{widget.value.label}}</div>
                        <div class="mat-display-1 m-0">
                          {{widget.value.count[widgets.projectIssue.ranges]}}
                        </div>
                      </div>

                      <div class="h-64">
                        <ngx-charts-area-chart *fuseIfOnDom [results]="widget.value.chart[projectIssue.currentRange]"
                          [scheme]="projectIssue.supporting.scheme" [gradient]="projectIssue.supporting.gradient"
                          [xAxis]="projectIssue.supporting.xAxis" [yAxis]="projectIssue.supporting.yAxis"
                          [legend]="projectIssue.supporting.legend" [showXAxisLabel]="projectIssue.supporting.showXAxisLabel"
                          [showYAxisLabel]="projectIssue.supporting.showYAxisLabel"
                          [xAxisLabel]="projectIssue.supporting.xAxisLabel" [yAxisLabel]="projectIssue.supporting.yAxisLabel"
                          [curve]="projectIssue.supporting.curve">
                        </ngx-charts-area-chart>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- / Front -->

            </fuse-widget>
            <!-- / WIDGET 5 -->

            <!-- WIDGET 6 -->
            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100"
              fxFlex.gt-sm="50">

              <!-- Front -->
              <div class="fuse-widget-front">

                <div class="px-16 py-8 border-bottom" fxLayout="row" fxLayoutAlign="space-between center">
                  <div class="h3">{{widgets.taskDistriibution.title}}</div>
                  <mat-form-field>
                    <mat-select class="simplified" [(ngModel)]="taskDistriibution.currentRange" aria-label="Change range">
                      <mat-option *ngFor="let range of widgets.taskDistriibution.ranges | keys" [value]="range.key">
                        {{range.value}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="h-400">
                  <ngx-charts-pie-chart *fuseIfOnDom [scheme]="taskDistriibution.scheme"
                    [results]="widgets.taskDistriibution.mainChart[taskDistriibution.currentRange]" [legend]="taskDistriibution.showLegend"
                    [explodeSlices]="taskDistriibution.explodeSlices" [labels]="taskDistriibution.labels" [doughnut]="taskDistriibution.doughnut"
                    [gradient]="taskDistriibution.gradient" (select)="taskDistriibution.onSelect($event)">
                  </ngx-charts-pie-chart>
                </div>

                <div class="py-8 mh-16 border-top" fxLayout="row wrap" fxLayoutAlign="start center">

                  <div class="py-8 border-right" fxLayout="column" fxLayoutAlign="center center" fxFlex="100"
                    fxFlex.gt-sm="50">
                    <span class="mat-display-1 mb-0">
                      {{widgets.taskDistriibution.footerLeft.count[taskDistriibution.currentRange]}}
                    </span>
                    <span class="h4">{{widgets.taskDistriibution.footerLeft.title}}</span>
                  </div>

                  <div class="py-8" fxLayout="column" fxLayoutAlign="center center" fxFlex="100" fxFlex.gt-sm="50">
                    <span class="mat-display-1 mb-0">
                      {{widgets.taskDistriibution.footerRight.count[taskDistriibution.currentRange]}}
                    </span>
                    <span class="h4">{{widgets.taskDistriibution.footerRight.title}}</span>
                  </div>
                </div>

              </div>
              <!-- / Front -->

            </fuse-widget>
            <!-- / WIDGET 6 -->

            <!-- WIDGET 7 -->
            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100"
              fxFlex.gt-sm="50">

              <!-- Front -->
              <div class="fuse-widget-front">

                <div class="px-16 py-8 border-bottom" fxLayout="row" fxLayoutAlign="space-between center">
                  <div class="h3">{{widgets.schedule.title}}</div>
                  <mat-form-field>
                    <mat-select class="simplified" [(ngModel)]="schedule.currentRange" aria-label="Change range">
                      <mat-option *ngFor="let range of widgets.schedule.ranges | keys" [value]="range.key">
                        {{range.value}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center"
                  *ngFor="let event of widgets.schedule.schedule[schedule.currentRange]">
                  <div>
                    <div class="h3">{{event.title}}</div>
                    <div>
                      <span class="secondary-text">{{event.time}}</span>
                      <span *ngIf="event.location">, {{event.location}}</span>
                    </div>
                  </div>

                  <button mat-icon-button aria-label="More information">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                </div>

              </div>
              <!-- / Front -->

            </fuse-widget>
            <!-- / WIDGET 7 -->

          </div>
          <!-- / WIDGET GROUP -->

        </mat-tab>

        <mat-tab label="Budget Summary">

          <!-- WIDGET GROUP -->
          <div class="widget-group" fxLayout="row wrap" fxFlex="100" *fuseIfOnDom [@animateStagger]="{value:'50'}">

            <!-- WIDGET 8 -->
            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100"
              fxFlex.gt-sm="50">

              <!-- Front -->
              <div class="fuse-widget-front">
                <div class="h3 px-16 py-24">
                  {{widgets.budgetDistribution.title}}
                </div>

                <mat-divider></mat-divider>

                <div class="h-400">
                  <ngx-charts-pie-chart *fuseIfOnDom [scheme]="budgetDistribution.scheme" [results]="widgets.budgetDistribution.mainChart"
                    [legend]="budgetDistribution.legend" [explodeSlices]="budgetDistribution.explodeSlices" [labels]="budgetDistribution.labels"
                    [doughnut]="budgetDistribution.doughnut" [gradient]="budgetDistribution.gradient" (select)="budgetDistribution.onSelect($event)">
                  </ngx-charts-pie-chart>
                </div>

              </div>
              <!-- / Front -->

            </fuse-widget>
            <!-- / WIDGET 8 -->

            <!-- WIDGET 9 -->
            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100"
              fxFlex.gt-sm="50">

              <!-- Front -->
              <div class="fuse-widget-front">
                <div class="px-16 py-12 border-bottom" fxLayout="row" fxLayoutAlign="space-between center">
                  <div class="h3">{{widgets.budgetSpent.title}}</div>
                  <mat-form-field>
                    <mat-select [(ngModel)]="budgetSpent.currentRange" aria-label="Change range">
                      <mat-option *ngFor="let range of widgets.budgetSpent.ranges | keys" [value]="range.key">
                        {{range.value}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="px-16 py-24" fxLayout="column" fxLayoutAlign="center" fxLayout.gt-xs="row"
                  fxLayoutAlign.gt-xs="space-between end">
                  <div fxFlex="0 1 auto">
                    <div class="h4 secondary-text">{{widgets.budgetSpent.weeklySpent.title}}</div>
                    <div class="pt-8 mat-display-1 m-0 font-weight-300 text-nowrap">
                      <span class="secondary-text">$</span>
                      <span>{{widgets.budgetSpent.weeklySpent.count[budgetSpent.currentRange]}}</span>
                    </div>
                  </div>
                  <div class="h-52" fxFlex>
                    <ngx-charts-area-chart *fuseIfOnDom
                      [results]="widgets.budgetSpent.weeklySpent.chart[budgetSpent.currentRange]" [scheme]="budgetSpent.scheme"
                      [gradient]="budgetSpent.gradient" [xAxis]="budgetSpent.xAxis" [yAxis]="budgetSpent.yAxis"
                      [legend]="budgetSpent.legend" [showXAxisLabel]="budgetSpent.showXAxisLabel"
                      [showYAxisLabel]="budgetSpent.showYAxisLabel" [xAxisLabel]="budgetSpent.xAxisLabel"
                      [yAxisLabel]="budgetSpent.yAxisLabel" [curve]="budgetSpent.curve">
                    </ngx-charts-area-chart>
                  </div>
                </div>

                <div class="px-16 py-24" fxLayout="column" fxLayoutAlign="center" fxLayout.gt-xs="row"
                  fxLayoutAlign.gt-xs="space-between end">
                  <div fxFlex="0 1 auto">
                    <div class="h4 secondary-text">{{widgets.budgetSpent.totalSpent.title}}</div>
                    <div class="pt-8 mat-display-1 m-0 font-weight-300 text-nowrap">
                      <span class="secondary-text">$</span>
                      <span>{{widgets.budgetSpent.totalSpent.count[budgetSpent.currentRange]}}</span>
                    </div>
                  </div>
                  <div class="h-52" fxFlex>
                    <ngx-charts-area-chart *fuseIfOnDom
                      [results]="widgets.budgetSpent.totalSpent.chart[budgetSpent.currentRange]" [scheme]="budgetSpent.scheme"
                      [gradient]="budgetSpent.gradient" [xAxis]="budgetSpent.xAxis" [yAxis]="budgetSpent.yAxis"
                      [legend]="budgetSpent.legend" [showXAxisLabel]="budgetSpent.showXAxisLabel"
                      [showYAxisLabel]="budgetSpent.showYAxisLabel" [xAxisLabel]="budgetSpent.xAxisLabel"
                      [yAxisLabel]="budgetSpent.yAxisLabel" [curve]="budgetSpent.curve">
                    </ngx-charts-area-chart>
                  </div>
                </div>

                <div class="px-16 py-24" fxLayout="column" fxLayoutAlign="center" fxLayout.gt-xs="row"
                  fxLayoutAlign.gt-xs="space-between end">
                  <div fxFlex="0 1 auto">
                    <div class="h4 secondary-text">{{widgets.budgetSpent.remaining.title}}</div>
                    <div class="pt-8 mat-display-1 m-0 font-weight-300 text-nowrap">
                      <span class="secondary-text">$</span>
                      <span>{{widgets.budgetSpent.remaining.count[budgetSpent.currentRange]}}</span>
                    </div>
                  </div>
                  <div class="h-52" fxFlex>
                    <ngx-charts-area-chart *fuseIfOnDom
                      [results]="widgets.budgetSpent.remaining.chart[budgetSpent.currentRange]" [scheme]="budgetSpent.scheme"
                      [gradient]="budgetSpent.gradient" [xAxis]="budgetSpent.xAxis" [yAxis]="budgetSpent.yAxis"
                      [legend]="budgetSpent.legend" [showXAxisLabel]="budgetSpent.showXAxisLabel"
                      [showYAxisLabel]="budgetSpent.showYAxisLabel" [xAxisLabel]="budgetSpent.xAxisLabel"
                      [yAxisLabel]="budgetSpent.yAxisLabel" [curve]="budgetSpent.curve">
                    </ngx-charts-area-chart>
                  </div>
                </div>

                <div class="px-16 py-24 border-top">
                  <div class="h4 secondary-text">{{widgets.budgetSpent.totalBudget.title}}</div>
                  <div class="pt-8 mat-display-1 m-0 font-weight-300">
                    <span class="secondary-text">$</span>
                    <span>{{widgets.budgetSpent.totalBudget.count}}</span>
                  </div>
                </div>

              </div>
              <!-- / Front -->

            </fuse-widget>
            <!-- / WIDGET 9 -->

            <!-- WIDGET 10 -->
            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="row" fxFlex="100">

              <!-- Front -->
              <div class="fuse-widget-front">

                <div class="simple-table-container" ms-responsive-table>
                  <div class=" table-title">
                    {{widgets.dueTask.title}}
                  </div>

                  <table class="simple">

                    <thead>
                      <tr>
                        <th *ngFor="let column of widgets.dueTask.table.columns">
                          {{column.title}}
                        </th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr *ngFor="let row of widgets.dueTask.table.rows">
                        <td *ngFor="let cell of row">
                          <span class="p-4" [ngClass]="cell.classes">
                            {{cell.value}}
                          </span>
                          <mat-icon *ngIf="cell.icon" class="s-16">{{cell.icon}}
                          </mat-icon>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>
              <!-- / Front -->

            </fuse-widget>
            <!-- / WIDGET 10 -->

          </div>
          <!-- / WIDGET GROUP -->

        </mat-tab>

        <mat-tab label="Team Members">

          <!-- WIDGET GROUP -->
          <div class="widget-group" fxLayout="row wrap" fxFlex="100" *fuseIfOnDom [@animateStagger]="{value:'50'}">

            <!-- WIDGET 11 -->
            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="row" fxFlex="100">

              <!-- Front -->
              <div class="fuse-widget-front">

                <div class="p-24 mb-8 border-bottom" fxLayout="row" fxLayoutAlign="space-between center">
                  <div class="h2">{{widgets.dueTask.title}}</div>
                  <div class="text-boxed accent m-0">
                    {{widgets.dueTask.table.rows.length}}
                    members
                  </div>
                </div>

                <mat-table #table [dataSource]="dueTask.dataSource">

                  <!-- Avatar Column -->
                  <ng-container matColumnDef="avatar">
                    <mat-header-cell fxFlex="96px" *matHeaderCellDef></mat-header-cell>
                    <mat-cell fxFlex="96px" *matCellDef="let contact">
                      <img class="avatar" *ngIf="contact.avatar" [alt]="contact.name" [src]="contact.avatar" />
                    </mat-cell>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                    <mat-cell *matCellDef="let contact">
                      <p class="text-truncate font-weight-600">{{contact.name}}
                        {{contact.lastName}}</p>
                    </mat-cell>
                  </ng-container>

                  <!-- Position Column -->
                  <ng-container matColumnDef="position">
                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Position
                    </mat-header-cell>
                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-sm>
                      <p class="position text-truncate">
                        {{contact.position}}
                      </p>
                    </mat-cell>
                  </ng-container>

                  <!-- Office Column -->
                  <ng-container matColumnDef="office">
                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Office
                    </mat-header-cell>
                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                      <p class="office text-truncate">
                        {{contact.office}}
                      </p>
                    </mat-cell>
                  </ng-container>

                  <!-- Email Column -->
                  <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Email
                    </mat-header-cell>
                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-sm>
                      <p class="email text-truncate">
                        {{contact.email}}
                      </p>
                    </mat-cell>
                  </ng-container>

                  <!-- Phone Column -->
                  <ng-container matColumnDef="phone">
                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Phone
                    </mat-header-cell>
                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                      <p class="phone text-truncate">
                        {{contact.phone}}
                      </p>
                    </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="widgets.dueTask.table.columns"></mat-header-row>
                  <mat-row *matRowDef="let contact; columns: widgets.dueTask.table.columns;">
                  </mat-row>
                </mat-table>
              </div>
              <!-- / Front -->

            </fuse-widget>
            <!-- / WIDGET 11 -->

          </div>
          <!-- / WIDGET GROUP -->

        </mat-tab>
      </mat-tab-group>

    </div>
    <!-- / CONTENT -->

  </div>
  <!-- / CENTER -->

  <!-- SIDEBAR -->
  <fuse-sidebar class="sidebar" name="project-dashboard-right-sidebar-1" position="right" lockedOpen="gt-md">

    <!-- SIDEBAR CONTENT -->
    <div class="content">

      <!-- WIDGET GROUP -->
      <div class="widget-group" fxLayout="column" fxFlex="100" [@animateStagger]="{value:'50'}">

        <!-- NOW WIDGET -->
        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="pb-0">

          <!-- Front -->
          <div class="fuse-widget-front">

            <div class="pl-16 pr-8 py-16" fxLayout="row" fxLayoutAlign="space-between center">

              <div class="h3">{{dateNow | date: 'EEEE, HH:mm:ss'}}</div>

              <div>
                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="more">
                  <mat-icon>more_vert</mat-icon>
                </button>

                <mat-menu #moreMenu="matMenu">
                  <button mat-menu-item aria-label="Flip widget">
                    Details
                  </button>
                </mat-menu>
              </div>
            </div>

            <div class="p-16 pb-24" fxLayout="column" fxLayoutAlign="center center">
              <div class="h1 secondary-text">
                <span>{{dateNow | date: 'MMMM'}}</span>
              </div>

              <div class="font-size-72 line-height-88 secondary-text font-weight-400">
                {{dateNow | date: 'd'}}
              </div>

              <div class="h1 secondary-text">
                <span>{{dateNow | date: 'y'}}</span>
              </div>
            </div>

          </div>
          <!-- / Front -->

        </fuse-widget>
        <!-- / NOW WIDGET -->

        

        <!-- WEATHER WIDGET -->
    

      </div>
      <!-- / WIDGET GROUP -->

    </div>
    <!-- / SIDEBAR CONTENT -->

  </fuse-sidebar>
  <!-- / SIDEBAR -->

</div>